* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/Poppins-Regular.ttf");
}
header {
  background-image: url("../images/header-ng.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 850px;
}
header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0;
}
header .navbar__right {
  display: flex;
  align-items: center;
  -moz-column-gap: 253px;
       column-gap: 253px;
}
header .navbar__right-menu {
  display: flex;
  -moz-column-gap: 48px;
       column-gap: 48px;
}
header .navbar__right-menu-list {
  list-style: none;
}
header .navbar__right-menu-link {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 25.2px;
  font-weight: 400;
  color: rgba(18, 17, 39, 0.7215686275);
  transition: all 0.4s ease;
}
header .navbar__right-menu-link:hover {
  font-weight: 700;
  color: #444BD3;
  font-size: 15px;
}
header .navbar__right-menu-btn {
  display: none;
}
header .navbar__right input {
  display: none;
}
header .navbar__btn {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  justify-content: flex-end;
}
header .navbar__btn-watch {
  background-color: #444BD3;
  padding: 8px 24px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 6px;
  transition: all 0.4s ease;
}
header .navbar__btn-watch:hover {
  background-color: transparent;
  border-color: #444BD3;
  color: #444BD3;
}
header .navbar__btn-watch:active {
  transform: scale(0.96);
}
header .navbar__btn-sign {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500px;
  padding: 8px 24px;
  color: rgba(18, 17, 39, 0.7215686275);
  border: 1px solid rgba(18, 17, 39, 0.1215686275);
  border-radius: 6px;
  color: rgba(18, 17, 39, 0.7215686275);
  cursor: pointer;
  transition: all 0.4s ease;
}
header .navbar__btn-sign:hover {
  background-color: rgba(113, 120, 253, 0.4862745098);
  color: #000;
  border-radius: 2px solid #444BD3;
}
header .navbar__btn-sign:active {
  transform: scale(0.96);
}
header .hero .products {
  padding-top: 64px;
}
header .hero .products__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header .hero .products__wrapper h1 {
  font-family: "Poppins", sans-serif;
  font-size: 56px;
  line-height: 67.2px;
  font-weight: 700;
}
header .hero .products__wrapper p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 24px;
  max-width: 650px;
}

.navbar__checkbox:checked ~ .navbar__right-menu {
  transform: translateX(0);
}

.navbar__right-menu-remove {
  display: none;
}

.navbar__right-menu-add {
  display: none;
}

.navbar__checkbox:checked ~ .navbar__right-menu-add {
  display: none;
}

@media (max-width: 768px) {
  header .navbar__right-menu {
    position: fixed;
    top: 100px;
    right: 0;
    width: 40%;
    height: 100vh;
    background: #F0EFF4;
    z-index: 5;
    flex-direction: column;
    row-gap: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    transform: translateX(120%);
    transition: 0.5s;
    padding: 20px;
  }
  header .navbar__right-menu-list {
    flex-direction: column;
  }
  header .navbar__right-menu-add {
    display: block;
  }
  header .hero .products__wrapper h1 {
    font-size: 45px;
    line-height: 50px;
  }
  header .hero .products__wrapper p {
    font-size: 16px;
    line-height: 30px;
  }
  header .hero .products__wrapper-image {
    max-width: 768px;
    margin-top: 40px;
  }
}
@media (max-width: 576px) {
  header .navbar__right-menu {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  header .navbar__right-menu-btn {
    display: block;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: space-between;
    width: 100%;
  }
  header .navbar__btn {
    display: none;
  }
  header .hero .products__wrapper h1 {
    font-size: 36px;
    line-height: 30px;
  }
  header .hero .products__wrapper p {
    font-size: 16px;
    line-height: 30px;
  }
  header .hero .products__wrapper-image {
    max-width: 400px;
    margin-top: 30px;
  }
}
.solve {
  margin-top: 240px;
  padding: 96px 0;
}
.solve__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.solve__wrapper-text {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.solve__wrapper-text span {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 23.8px;
  font-weight: 600;
  color: #444BD3;
  text-transform: uppercase;
}
.solve__wrapper-text h2 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  line-height: 44.8px;
  font-weight: 700;
  max-width: 604px;
}
.solve__wrapper-cards {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.solve__wrapper-cards-first {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 56px 24px;
  box-shadow: 0px 20px 50px 0px rgba(18, 17, 39, 0.0784313725);
  cursor: pointer;
  transition: 0.5s;
  border-radius: 12px;
}
.solve__wrapper-cards-first:active {
  transform: scale(0.96);
}
.solve__wrapper-cards-first img {
  max-width: 48px;
}
.solve__wrapper-cards-first h4 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: 700;
  color: #121127;
}
.solve__wrapper-cards-first p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 25.2px;
  font-weight: 400;
  color: rgba(18, 17, 39, 0.7215686275);
}

@media (max-width: 768px) {
  .solve {
    margin-top: 0;
  }
  .solve__wrapper-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }
}
.blog {
  padding: 96px 0;
}
.blog__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 56px;
}
.blog__wrapper-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.blog__wrapper-text span {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 23.8px;
  font-weight: 600;
  letter-spacing: 0.8;
  color: #444BD3;
}
.blog__wrapper-text h2 {
  font-family: "Poppins", sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 62px;
  color: #121127;
}
.blog__wrapper-text p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: rgba(18, 17, 39, 0.7215686275);
}
.blog__wrapper-cards {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.blog__wrapper-cards-first {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 20px 50px 0px rgba(18, 17, 39, 0.0784313725);
  border-radius: 12px;
}
.blog__wrapper-cards-first-text {
  padding: 32px 24px;
  margin-bottom: 8px;
}
.blog__wrapper-cards-first-text span {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 23.8px;
  font-weight: 600;
  letter-spacing: 0.8;
}
.blog__wrapper-cards-first-text__span1 {
  color: #8B5CF6;
}
.blog__wrapper-cards-first-text__span2 {
  color: #F25722;
}
.blog__wrapper-cards-first-text__span3 {
  color: #2A7576;
}
.blog__wrapper-cards-first-text__title {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  font-weight: 700;
  color: #121127;
  margin-top: 8px;
  margin-bottom: 24px;
}
.blog__wrapper-cards-first p {
  font-size: 16px;
  line-height: 28.8px;
  font-weight: 400;
  color: rgba(18, 17, 39, 0.7215686275);
}
.blog__wrapper-cards-first__customer {
  padding: 32px 24px;
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.blog__wrapper-cards-first__customer-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog__wrapper-cards-first__customer-name h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  color: #121127;
}
.blog__wrapper-cards-first__customer-name span {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  color: rgba(18, 17, 39, 0.7215686275);
}

@media (max-width: 768px) {
  .blog {
    padding: 50px 0;
  }
  .blog__wrapper-cards {
    flex-direction: column;
    row-gap: 50px;
  }
}
@media (max-width: 576px) {
  .blog {
    padding: 0;
  }
  .blog__wrapper-cards {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }
}
.customer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
  border-bottom: 2px solid rgba(18, 17, 39, 0.1215686275);
}
.customer__description {
  max-width: 464px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.customer__description span {
  color: #444BD3;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
.customer__description h2 {
  color: #121127;
  font-size: 40px;
  font-weight: 800;
  line-height: 56px;
  margin: 20px 0 16px 0;
}
.customer__description p {
  color: rgba(18, 17, 39, 0.5607843137);
  font-size: 16px;
  line-height: 28px;
  max-width: 435px;
  margin-bottom: 32px;
}
.customer__description-btn {
  padding: 14px 32px;
  color: #FFFFFF;
  background-color: #444BD3;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.customer__description-btn:hover {
  background-color: transparent;
  border-color: #444BD3;
  color: #444BD3;
}
.customer__imgs {
  max-width: 550px;
  position: relative;
}
.customer__imgs-video {
  width: 100%;
}
.customer__imgs-stop {
  width: 20%;
  height: 20%;
  position: absolute;
  top: 35%;
  left: 40%;
}

@media screen and (max-width: 992px) {
  .customer {
    background-color: #FFFFFF;
  }
  .customer__description {
    max-width: 400px;
  }
  .customer__description h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .customer__description p {
    max-width: 435px;
  }
}
@media (max-width: 768px) {
  .customer {
    padding: 70px 0;
  }
  .customer__description {
    max-width: 300px;
  }
  .customer__description h2 {
    font-size: 24px;
    line-height: 28px;
    margin-top: 15px;
  }
  .customer__description p {
    max-width: 300px;
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 576px) {
  .customer {
    flex-direction: column;
    gap: 40px;
  }
  .customer__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
  }
  .customer__description span {
    text-align: center;
  }
  .customer__description h2 {
    text-align: center;
    font-size: 32px;
    line-height: 40px;
  }
  .customer__description p {
    text-align: center;
  }
}
.companies {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
  gap: 48px;
  border-bottom: 2px solid rgba(18, 17, 39, 0.1215686275);
}
.companies h3 {
  font-size: 24px;
  line-height: 34px;
  color: #121127;
  text-align: center;
}
.companies__logos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px 15px;
}

@media (max-width: 576px) {
  .companies__logos {
    justify-content: space-between;
  }
}
.questions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 100px 0;
}
.questions h2 {
  color: #121127;
  font-size: 32px;
  line-height: 44px;
  font-weight: 800;
  margin-bottom: 12px;
  text-align: center;
}
.questions span {
  color: rgba(18, 17, 39, 0.5607843137);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 25px;
  margin-bottom: 48px;
}
.questions__block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 15px;
}
.questions__block-card {
  display: flex;
  max-width: 340px;
  align-items: flex-start;
  gap: 15px;
}
.questions__block-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.questions__block-text h4 {
  color: #121127;
  font-size: 16px;
  font-weight: 700;
}
.questions__block-text p {
  color: rgba(18, 17, 39, 0.5607843137);
  font-size: 14px;
  line-height: 25px;
  max-width: 280px;
}

@media (max-width: 768px) {
  .questions {
    padding: 70px 0;
  }
  .questions h2 {
    font-size: 28px;
    line-height: 38px;
  }
  .questions__block {
    justify-content: center;
  }
  .questions__block-card {
    max-width: 400px;
  }
  .questions__block-text {
    gap: 15px;
  }
  .questions__block-text p {
    max-width: 360px;
  }
}
@media (max-width: 576px) {
  .questions h2 {
    font-size: 26px;
    line-height: 34px;
  }
}
.back_color {
  background-color: #F9F9FB;
  padding: 100px 0 130px 0;
  position: relative;
}

.country {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.country h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  color: #121127;
}
.country p {
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: rgba(18, 17, 39, 0.5607843137);
  margin-top: 8px;
}
.country__number {
  position: absolute;
  bottom: -80px;
  background-color: #FFFFFF;
  max-width: 936px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px 0;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.05);
}
.country__number-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.country__number-card strong {
  color: #444BD3;
  font-size: 40px;
  line-height: 56px;
}
.country__number-card span {
  font-size: 14px;
  line-height: 25px;
  color: rgba(18, 17, 39, 0.5607843137);
}

@media screen and (max-width: 992px) {
  .country__number {
    max-width: 748px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .country h2 {
    font-size: 32px;
    line-height: 48px;
    max-width: 546px;
    width: 100%;
  }
  .country p {
    font-size: 16px;
    line-height: 26px;
    max-width: 546px;
    width: 100%;
  }
  .country__number {
    max-width: 546px;
    width: 100%;
  }
  .country__number strong {
    font-size: 34px;
  }
}
@media (max-width: 576px) {
  .country h2 {
    font-size: 28px;
    max-width: 350px;
  }
  .country p {
    max-width: 350px;
  }
  .country__number {
    width: auto;
    gap: 30px;
    padding: 40px 10px;
  }
  .country__number-card strong {
    font-size: 28px;
  }
  .country__number-card span {
    font-size: 13px;
  }
}
footer {
  margin-top: 170px;
  background-color: #121127;
}

.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 100px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1215686275);
  row-gap: 40px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.footer__dlex {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.footer__dlex p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5607843137);
  line-height: 29px;
}
.footer__dlex-icons {
  display: flex;
  align-items: center;
  gap: 32px;
}
.footer__ul {
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  justify-content: space-around;
  gap: 50px;
}
.footer__ul ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.footer__ul ul li {
  list-style: none;
}
.footer__ul ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  transition: 0.3s;
}
.footer__ul ul li a:hover {
  opacity: 0.56;
}
.footer__ul ul .one_item {
  margin-bottom: 12px;
}
.footer__ul ul .one_item a {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.8px;
  text-align: left;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
}

.footer_two {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_two p {
  font-size: 16px;
  line-height: 29px;
  color: #FFFFFF;
  opacity: 0.56;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    flex-wrap: wrap;
  }
  .footer__dlex {
    flex-grow: 1;
  }
  .footer__ul {
    justify-content: space-around;
  }
}/*# sourceMappingURL=main.css.map */