.solve {
    margin-top: 240px;
    padding: 96px 0;
    &__wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        &-text {
            display: flex;
            flex-direction: column;
            row-gap: 8px;
            & span {
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
                line-height: 23.8px;
                font-weight: 600;
                color: #444BD3;
                text-transform: uppercase;
            }
            & h2 {
                font-family: 'Poppins', sans-serif;
                font-size: 32px;
                line-height: 44.8px;
                font-weight: 700;
                max-width: 604px;
            }
        }
        &-cards {
            display: flex;
            column-gap: 24px;
            &-first {
                display: flex;
                flex-direction: column;
                row-gap: 24px;
                padding: 56px 24px;
                box-shadow: 0px 20px 50px 0px #12112714;
                cursor: pointer;
                transition: 0.5s;
                border-radius: 12px;
                &:active {
                    transform: scale(0.96);
                }
                & img {
                    max-width: 48px;
                }
                & h4 {
                    font-family: 'Poppins', sans-serif;
                    font-size: 16px;
                    line-height: 22.4px;
                    font-weight: 700;
                    color: #121127;
                }
                & p {
                    font-family: 'Poppins', sans-serif;
                    font-size: 14px;
                    line-height: 25.2px;
                    font-weight: 400;
                    color: $primary-color;
                }
            }
        }
    }
}

@include for-tablet() {
    .solve {
        margin-top: 0;
        &__wrapper {
            &-cards {
                display: grid;
                grid-template-columns: 1fr 1fr;
                row-gap: 30px;
            }
        }
    }
}